services:
  frontend-dev:
    build:
      context: .
      dockerfile: docker/DockerFile.dev
    ports:
      - "3000:3000"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    environment:
      - NODE_ENV=development

  frontend-prod:
    build:
      context: ./frontend
      dockerfile: docker/DockerFile
    ports:
      - "8080:80"
    environment:
      - NODE_ENV=production